<div id="game-container" ngsf-fullscreen class="game-panel" md-whiteframe="3">
    <div layout="row" layout-padding>
        <span flex></span>
        <score></score>
    </div>
    <three-canvas 
                  parent-size="$ctrl.size" 
                  game-level="$ctrl.gameFactory.level"
                  is-scoring="$ctrl.gameFactory.isScoring"></three-canvas>
    <div>
        <md-button class="md-primary" ngsf-toggle-fullscreen show-if-fullscreen-enabled>
            <span show-if-fullscreen="false">enter fullscreen</span>
            <span show-if-fullscreen="true">exit fullscreen</span>
        </md-button>
    </div>
    <div layout-padding class="start-button-container"
         ng-class="{hide:$ctrl.gameFactory.isScoring}"
         layout="column" 
         layout-aligh="center center">
        <h1 class="level-complete foo" 
            ng-show="$ctrl.gameFactory.level > 0"
            ng-class="{show : !$ctrl.gameFactory.isScoring}">
            Level {{$ctrl.gameFactory.level}} Cleared!
        </h1>
        <md-button class="next-level-button md-primary md-raised"
                   ng-class="{show:!$ctrl.gameFactory.isScoring}"
                   ng-click="$ctrl.startLevel()">
            <span class="next-level-button" ng-class="{show : !$ctrl.gameFactory.isScoring}">
                {{$ctrl.gameFactory.levelButtonText}}
            </span>
        </md-button>
    </div>
</div>